.carousel {
    width: 300px;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    position: relative;
    left: 0;
}
.slide {
    width: 300px;
    flex-shrink: 0;
}
img {
    width: 100%;
    display: block;
}